extends layout

block content
	ul#nav
		li
			a(href="/") Home
		li
			a(href="/about-us") About us
	br
	h2 #{title}
	p The current date is: #{date}
	p.
		Springworks is the embodiment of our vision and ambition to revolutionise the HR landscape with products that serve businesses in the most human way.We are leading the world to the future of HR which should have been ours already.
